body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u4956 {
  position:absolute;
  left:10px;
  top:10px;
  width:77px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u4957 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
}
#u4958 {
  position:absolute;
  left:97px;
  top:20px;
  width:63px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4959 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4960 {
  position:absolute;
  left:10px;
  top:0px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4961 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4962p000 {
  position:absolute;
  left:173px;
  top:34px;
  width:55px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4962p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:3px;
}
#u4962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4963 {
  position:absolute;
  left:201px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u4964 {
  position:absolute;
  left:223px;
  top:27px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u4966 {
  position:absolute;
  left:387px;
  top:100px;
  width:160px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u4967 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u4968 {
  position:absolute;
  left:20px;
  top:100px;
  width:160px;
  height:60px;
  font-size:14px;
  color:#999999;
}
#u4969 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u4970 {
  position:absolute;
  left:571px;
  top:100px;
  width:160px;
  height:60px;
  font-size:14px;
  color:#999999;
}
#u4971 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u4972p000 {
  position:absolute;
  left:9px;
  top:69px;
  width:963px;
  height:3px;
}
#u4972p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:3px;
}
#u4972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4973 {
  position:absolute;
  left:12px;
  top:62px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u4974 {
  position:absolute;
  left:204px;
  top:100px;
  width:160px;
  height:60px;
  font-size:14px;
  color:#999999;
}
#u4975 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u4976 {
  position:absolute;
  left:20px;
  top:184px;
  width:225px;
  height:16px;
}
#u4977 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u4978 {
  position:absolute;
  left:20px;
  top:222px;
  width:57px;
  height:16px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:16px;
}
#u4980 {
  position:absolute;
  left:20px;
  top:264px;
  width:234px;
  height:16px;
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u4982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:54px;
  background:inherit;
  background-color:#169BD5;
  border-radius:5px;
  font-size:16px;
}
#u4982 {
  position:absolute;
  left:20px;
  top:296px;
  width:210px;
  height:54px;
  font-size:16px;
}
#u4983 {
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  word-wrap:break-word;
}
#u4984 {
  position:absolute;
  left:0px;
  top:81px;
  width:970px;
  height:419px;
  overflow:hidden;
  visibility:hidden;
}
#u4984_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:419px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4984_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:480px;
}
#u4985 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:480px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4986 {
  position:absolute;
  left:2px;
  top:232px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:391px;
}
#u4987 {
  position:absolute;
  left:20px;
  top:510px;
  width:878px;
  height:391px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4988 {
  position:absolute;
  left:2px;
  top:188px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u4989 {
  position:absolute;
  left:326px;
  top:14px;
  width:240px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u4990 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u4991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u4991 {
  position:absolute;
  left:160px;
  top:46px;
  width:610px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u4992 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4994 {
  position:absolute;
  left:807px;
  top:29px;
  width:31px;
  height:20px;
}
#u4995 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u4996 {
  position:absolute;
  left:851px;
  top:29px;
  width:31px;
  height:20px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4998p000 {
  position:absolute;
  left:831px;
  top:36px;
  width:27px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4998p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:3px;
}
#u4998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4999 {
  position:absolute;
  left:846px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
